{{ define "index.tmpl" }}
<html><h1>
    {{ .title }}
</h1>
<p>

<div id="#About_me" >
	Life Goals:
		<ul>
			<li>Have a high paying job of 90k€ a year</li>
			<li>Visit the United States of America and stay in a Penthouse</li>
			<li>Found/co-found a Start-up that has prosperity</li>
			<li>Build a nice familly, in a good house</li>
		</ul>
	</div>

	<div>Intermidiate Objectives:
		<ul>
			<li>Earn more than 50k€ a year by the age of 30</li>
			<li>Travel to the United States for holidays and business</li>
			<li>Work in many Start-ups to learn the environment and get used to the spirit</li>
			<li>Study in an international University and learn other Languages</li>
			
		</ul>
	</div>


</p>
</html>
{{ end }}