{{ define "GodPage.tmpl" }}


<html>

<header>
	{{template "header" .}}

</header>

<body>
	{{template "menu" .}}

<div class="container-fluid element">

	<div id="pageContent" style="display: block;" class="visible">{{template "welcome" .}}</div>

	<div id="pageContent1" style="display: none;">{{template "skills" .}}</div>

	<div id="pageContent2" style="display: none;">{{template "projects" .}}</div>

	<div id="pageContent3" style="display: none;">{{template "index" .}}</div>

	<div id="pageContent4" style="display: none;">{{template "index" .}}</div>

	<div id="pageContent5" style="display: none;">{{template "index" .}}</div>

</div>
</body>

</html>

{{end}}