{{ define "index" }}


	
	<div style="text-align: center;">
	    <h1 id="MainTitle">What are My Plans</h1>
	</div>
	<!-- the body begins -->
<div class="row">
<div class="col-md-12" style="color: black">

	<div class="col-md-6">
		<div class="page-header">
	  		<h1>Intermidiate Objectives:</h1>
		</div>
			<ul>
				<li>Get a Job earning atleast minimal wage;<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green"></span></li>
				<li>Career Progression to a stable and IT job;<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green"></span></li>
				<li>Work Abroad and get international Growth;<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green"></span></li>
				<li>Earn more than 50k€ a year by the age of 30;</li>
				<li>Travel to the United States for holidays and business;</li>
				<li>Work in many Start-ups to learn the environment and get used to the spirit;</li>
				<li>Study in an international University and learn other Languages.</li>
				
			</ul>
	</div>
	<div class="col-md-6">
	<div class="page-header">
	  		<h1>Life Goals: </h1>
		</div>
			<ul>
				<li>Visit the United States of America and stay in a Penthouse;</li>
				<li>Found/co-found a Start-up that has prosperity;</li>
				<li>Build a nice familly, in a good house and happy;</li>
				<li>Have a high paying job of at least 100k€ a year in Europe or 160k€ in the USA;</li>
				<li>Buy a Spacious and marvelous house for the family;</li>
				<li>Buy a leisure Yacht;</li>
				<li>Buy a Rolls Royce;</li>
			</ul>
	</div>
</div>
</div>

<div class="row " style="color: black">
<div class="col-md-6 col-md-offset-3">
<div class="page-header">
	<h1 style=" text-align: center;">Progress so far</h1>
</div>
	<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="21.43" aria-valuemin="0" aria-valuemax="100" style="width: 21.43%">
    <span class="sr-only">21.43% Complete</span>
    21.43%
  </div>
</div>
</div>
</div>
{{ end }}