{{ define "index" }}


	
	<div style="text-align: center;">
	    <h1 id="MainTitle">What are My Plans</h1>
	</div>
	<!-- the body begins -->
<div class="row">
<div class="col-md-12" style="color: black">
	<div class="col-md-6">
				<h3>Intermidiate Objectives:</h3>

			<ul>
				<li>Earn more than 50k€ a year by the age of 30</li>
				<li>Travel to the United States for holidays and business</li>
				<li>Work in many Start-ups to learn the environment and get used to the spirit</li>
				<li>Study in an international University and learn other Languages</li>
				
			</ul>
	</div>
	<div class="col-md-6">
		<h3>Life Goals:</h3>
			<ul>
				<li>Visit the United States of America and stay in a Penthouse</li>
				<li>Found/co-found a Start-up that has prosperity</li>
				<li>Build a nice familly, in a good house</li>
				<li>Have a high paying job of at least 100k€ a year in Europe or 160k€ in the USA</li>
				<li>Buy a leisure Yacht</li>
				<li>Buy a Spacious and marvelous house for the family</li>
				<li>Buy a Rolls Royce</li>
			</ul>
	</div>
	
	
</div>
</div>
{{ end }}