{{ define "about.tmpl" }}
<h1>
    {{ .title }}
</h1>




<!--work related -->

<div class="row">
  	<h1 style="text-align: center;"> Places I have worked in</h1>
  <div class="col-md-8">
	  <div class="jumbotron">
		  <h1>PowerAdvance</h1>
		  <p style="text-align: justify-all;">
		 	I have Worked in <a href="http://www.poweradvance.pt/"> PowerAdvance </a> as a Technician, repaired computers, both laptops and desktops, was also responsible for training the interns who were studying in professional courses. <br>
			This company is smal with 2-10 people, with a store both physical and now with an online store.<br>
			Experience: 6 months</p>
		</div>
	</div>

</div>

<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
		  <h1>Vodafone Corporate Store</h1>
		  <p style="text-align: justify-all;">
		 	From there i went to work at <a href="http://negocios.vodafone.pt/"> Vodafone Corporate Store </a> as a salesman at Cascais Shopping, worked at the store as a sales associate and client manager, we worked as a team of 6 people. The job composed of two sides, the first is to find the tools that fit the clients need in terms of Telecomunications. The second side is to provide customer support and manage complaints to minimize the problem and provide a fast and adequate solution. <br>
  			This company is a Multinational company but the store team was composed of 6 member and 1 region manager.<br>
  			Experience: 1 year
  			</p>
	</div>
  </div>

</div>
{{ end }}