{{ define "projects" }}
	
<script type="text/javascript">


var e = 99;
var p = 99;

function selectEmp(argument){
	if (document.getElementsByClassName("empresa")[0] != null){
		document.getElementsByClassName("empresa")[0].style.display = "none";
		document.getElementsByClassName("empresa")[0].className = "";
	}
	if (e == argument) {
			e = 99;
			return;
	}
	e = argument;
	switch(argument){
		case 0:
			document.getElementById('poweradvance').className = "empresa";
			document.getElementById('poweradvance').style.display = "block";
			break;
	    case 1:
			document.getElementById('vodafone').className = " empresa";
			document.getElementById('vodafone').style.display = "block";
			
			break;
	  }
}

function selectProj(argument){
	if (document.getElementsByClassName("projecto")[0] != null){
		document.getElementsByClassName("projecto")[0].style.display = "none";
		document.getElementsByClassName("projecto")[0].className = "";
		}
	if (p == argument) {
			p = 99;
			return;
	}
	p = argument;
	$('.bs-example-modal-lg').modal('show') 
	switch(argument){
		case 0:
			document.getElementById('KITT').className = "projecto";
			document.getElementById('KITT').style.display = "block";
			break;
	    case 1:
			document.getElementById('Naval').className = "projecto";
			document.getElementById('Naval').style.display = "block";
			break;
		case 2:

			document.getElementById('server').className = "projecto";
			document.getElementById('server').style.display = "block";
			break;
		case 3:

			document.getElementById('Frogger').className = "projecto";
			document.getElementById('Frogger').style.display = "block";
			break;
		case 4:
			document.getElementById('Flister').className = "projecto";
			document.getElementById('Flister').style.display = "block";
			break;
		case 5:

			document.getElementById('Ecommerce').className = "projecto";
			document.getElementById('Ecommerce').style.display = "block";
			break;
	  }
}
</script>


	<div style="text-align: center;">
	    <h1 id="MainTitle">What I have done?</h1>
	</div>



<!--work related -->

<div class="row">
  <div class="col-md-6" style="text-align: justify-all;">
  	<h1 style="text-align: center;"> Places I have worked in</h1>
	  <h1 onclick="selectEmp(0)">PowerAdvance</h1>
	  <h1 onclick="selectEmp(1)">Vodafone Corporate Store</h1>
  		<div class="" id="poweradvance" style="text-align: justify-all; display: none;">
		 	I have Worked in <a href="http://www.poweradvance.pt/"> PowerAdvance </a> as a Technician, repaired computers, both laptops and desktops, was also responsible for training the interns who were studying in professional courses. <br>
			This company is smal with 2-10 people, with a store both physical and now with an online store.<br>
			Experience: 6 months
		</div>

 		 <div class="" style="display: none;" id="vodafone">
		 	From there i went to work at <a href="http://negocios.vodafone.pt/"> Vodafone Corporate Store </a> as a salesman at Cascais Shopping, worked at the store as a sales associate and client manager, we worked as a team of 6 people. The job composed of two sides, the first is to find the tools that fit the clients need in terms of Telecomunications. The second side is to provide customer support and manage complaints to minimize the problem and provide a fast and adequate solution. <br>
  			This company is a Multinational company but the store team was composed of 6 member and 1 region manager.<br>
  			Experience: 1 year

  		</div>
</div>
	<div class="col-md-6" style="text-align: justify-all;">
  		<h1 style="text-align: center;"> Projects I have done </h1>
  		<h1 onclick="selectProj(0)">KITT - HTML+CSS+JavaScript w/ JQuery</h1>
  		<h1 onclick="selectProj(1)">Naval Division - PHP+MySQL</h1>
  		<h1 onclick="selectProj(2)">OS Server Request Simulation - C</h1>
  		<h1 onclick="selectProj(3)">Frogger Game - C++</h1>
  		<h1 onclick="selectProj(4)">Flister comercial - Ruby on Rails</h1>
  		<h1 onclick="selectProj(5)">E-commerce codechallenge - Ruby on Rails</h1>

	</div>
	
</div>
<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="color: white;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    <div class="modal-header">
	      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title" id="myModalLabel">Modal title</h2>
      	</div>
      	<div class="modal-body">
	  		<div class="" style="display: none;" id="KITT">
			 	KITT
	  		</div>
	  		<div class="" style="display: none;" id="Naval">
			 	Naval
	  		</div>
	  		<div class="" style="display: none;" id="server">
			 	server
	  		</div>
	  		<div class="" style="display: none;" id="Frogger">
	  			Frogger
	  		</div>
	  		<div class="" style="display: none;" id="Flister">
			 	Flister
	  		</div>
	  		<div class="" style="display: none;" id="Ecommerce">
			 	Ecommerce
	  		</div>
    	</div>
		</div>
  </div>
</div>
{{ end }}