{{ define "welcome" }}


<div style="text-align: center;">
    <h1 id="MainTitle">{{ .title }}</h1>
</div>
	<!-- THE BODY BEGINS -->

<div class="row">
		<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<h1>Gonçalo Filipe Lampreia Vicente</h1>
			</div>
		</div>
			<div class="row">
				<div class="col-md-12">
			<div class="col-md-3">
					<h3>Date of Birth:</h3> August, 4 1994
					<h3>Current profession:</h3>
					Junior Developer Relations at <a style="color: lightblue" href="http://sourced.tech/about/">source{d}</a>
			</div>
			<div class="col-md-3" >
					<h3>Born:</h3> Lisbon, Portugal
					<h3>Current City:</h3> Madrid, Spain
			</div>
			<div class="col-md-6" id="me">
					<h3 style="text-align: center">Who I am</h3> I'm a very funny, easy-going, lively and professional.
					I am used to multi-cultural environments, I have traveled to some places, studied abroad, currently working abroad. 
					<h3 style="text-align: center">What can I bring to a company</h3> I can bring a very motivated and always ready to
					learn co-worker, I'm very friendly and love to help out when I can. I like to work in teams.
			</div>
				</div>
			</div>
<br>
			<div class="row">
				<div class="col-md-12">

				<p><a class="btn btn-primary btn-lg" onclick="teste1(1)" role="button">
					Learn more
				</a></p>
				</div>
			</div>
	</div>
</div>


{{ end }}